<!-- views/partials/footer.ejs -->

<div class="footer">
  <div class="linkSocial">
    <p>Autoface</p>
    <div class="linkSocialItem">
      <img src="/img/icon_youtube.png" alt="icon youtube" />
      <img src="/img/icon_facebook.png" alt=" icon facebook" />
      <img src="/img/icon_X.png" alt="icon X" />
    </div>
  </div>
  <div class="article">
    <div class="article_item">
      <p><%= __('Articles')%></p>
      <ul>
        <li><a href="/term-of-service"><%= __('Term of service')%></a></li>
        <li><a href="/private-policy" style="margin-left: 2px"><%= __('Privacy policy')%></a></li>
        <li><a href="/refund-policy" style="margin-left: 2px"><%= __('Refund policy')%></a></li>
      </ul>
    </div>
  
  </div>
</div>
