<!-- views/partials/footer.ejs -->

<div class="footer">
  <div class="linkSocial">
    <p>Autoface</p>
    <div class="linkSocialItem">
      <img src="/img/icon_youtube.png" alt="icon youtube" />
      <img src="/img/icon_facebook.png" alt=" icon facebook" />
      <img src="/img/icon_X.png" alt="icon X" />
    </div>
  </div>
  <div class="article">
    <div class="article_item">
      <p>Articles</p>
      <ul>
        <li>Term of service</li>
        <li style="margin-left: 2px">Privacy policy</li>
        <li style="margin-left: 2px">Refund policy</li>
      </ul>
    </div>
    <div class="article_item">
      <p>Articles</p>
      <ul>
        <li>Term of service</li>
        <li>Term of service</li>
        <li>Term of service</li>
      </ul>
    </div>
  </div>
</div>
