.title {
  font-size: 14px;
  font-weight: 200;
  font-family: 'Cabin Condensed';
}
@font-face {
  font-family: "Cabin Condensed Bold";
  src: url("/font/Cabin-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Cabin Condensed";
  src: url("/font/Cabin-Regular.ttf") format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin Condensed';
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #f0f3ff; */
  background: linear-gradient(0deg, rgba(244, 245, 255, 1), rgba(254, 254, 255, 1));
  /* max-width: 1440px; */
  margin: 0 auto;
  line-height: 1.5;
  overflow-x: hidden;
}
header {
  margin: 2% 10%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
.auth-input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(42, 134, 255, 0.5);
}
input,
button,
textarea,
select {
  outline: none;
}
input::placeholder {
  font-family: 'Cabin Condensed';
}
select {
  font-family: 'Cabin Condensed';
}
td {
  font-weight: 400;
  font-size: 13px;
  color: #01162b;
}
label {
  color: #e7f3ff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
td,
label,
th {
  word-wrap: break-word;
  text-align: left;
  font-family: 'Cabin Condensed';
}
.blur {
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  opacity: 0.85;
  position: absolute;
  z-index: 10;
  left: 0;
}
ol,
ul {
  padding: 0;
}
/* Css swiper base */
.swiper {
  min-height: 650px;
}
/* Css a base */
a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a:hover,
a:focus {
  text-decoration: none;
}
/* Css header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 12% !important;
}
.menu-icon {
  display: none;
}
.navbar_mobile {
  display: none;
}
.navbar__left {
  display: flex;
  align-items: end;
  float: left;
  gap: 10%;
  width: 50%;
}
.navbar__left a {
  font-size: 16px;
  font-family: 'Cabin Condensed Bold';
  margin: 0;
  cursor: pointer;
  color: rgba(1, 22, 43, 0.5);
}
.navbar__left .logo {
  line-height: 35px;
  font-family: 'Cabin Condensed Bold';
  font-weight: 700;
  font-size: 28px;
  color: #01162b;
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6%;
  width: 50%;
}
.navbar__right p {
  margin: 0;
}

.custom-select {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.selected-option {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border: 0;
  background-image: url('/img/dropdown.png');
  background-repeat: no-repeat;
  background-position: left 11px bottom 13px;
  color: rgba(1, 22, 43, 0.5);
}

.selected-option img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.options {
  position: absolute;
  top: 100%;
  left: -25%;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0px solid rgba(8, 35, 106, 0.25);
  width: 92px;
  border-top: none;
  box-shadow: 0 4px 10px rgb(8 35 106 / 25%);
  border-radius: 10px;
  z-index: 9999;
  background: #fff;
}

.options a {
  cursor: pointer;
  padding: 5px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.options a span,
.selected-option span {
  font-family: 'Cabin Condensed Bold';
  opacity: 0.8;
  font-size: 18px;
  color: rgba(1, 22, 43, 0.5);
}
.options a:hover {
  background-color: rgba(25, 118, 210, 0.2);
}
.options a:hover:first-child {
  border-radius: 10px 10px 0 0;
}
.options a:hover:last-child {
  border-radius: 0 0 10px 10px;
}
.navbar__right .login,
.navbar__right .download {
  color: #0866ff;
  font-family: 'Cabin Condensed Bold';
  cursor: pointer;
  font-size: 18px;
}
.navbar__right .download {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid rgba(8, 102, 255, 0.5);
}
.navbar__right .download img {
  width: 10px;
  height: 10px;
}
.navbar__right .download p {
  font-weight: 500;
  font-family: 'Cabin Condensed Bold';
}

.navbar_mobile {
  display: none;
}

.menu-icon {
  cursor: pointer;
}

/* Css footer */

.footer {
  position: relative;
  bottom: 0;
  background-color: #eef5ff;
  padding: 2% 12%;
  display: flex;
  justify-content: space-between;
}

.footer .linkSocial {
  float: left;
  width: 100%;
}
.footer .linkSocial .logo {
  display: flex;
  gap: 12px;
  align-items: center;
  p {
    margin: 0;
    font-family: 'Cabin Condensed Bold';
    font-size: 28px;
  }
}
.footer .linkSocial .linkSocialItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* height: 28px; */
  margin-top: 20px;
  .copyright {
    margin: 0;
    color: #0d6efd;
  }
  ul {
    display: inline;
    margin-bottom: 0px;
      p {
        display: inline;
        padding-left: 80px;
        text-decoration: underline;
        text-decoration-color: #0d6efd;
      }
  }
  .img {
    display: flex;
    justify-content: end;
    gap: 12px;
    width: 10%;
    img {
      cursor: pointer;
      height: 22px;
    }
  }
}

.footer .article {
  display: flex;
}
.footer .article .article_item {
  width: 100%;
  display: flex;
  gap: 22px;
}
.footer .article .article_item p {
  font-family: 'Cabin Condensed Bold';
  font-size: 23px;
  margin: 0;
}
.footer .article .article_item ul {
  float: left;
}
.footer .article .article_item ul li {
  a {
    color: rgb(1 22 43 / 70%);
  }
  list-style: none;
  font-weight: 100;
  font-size: 18px;
  margin: 10px 0;
  text-align: left;
}
